@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --Boldonse: '"Boldonse', sans-serif;
    --Inter: 'Inter', sans-serif;
    --border-color: #d8d8d8;
}



* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6, p, a {
    font-family: var(--Inter);
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 500;
}

.wrapper {
    margin: 10px auto;
    width: 1920px;
}

header {
    border-bottom: 1px solid var(--border-color);
}

header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 25px;
}

header .nav a {
    color: #222;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease;
    color: #222;
}

header .logo.show{
    opacity: 1;
    transform: translateY(0);
    color: #222;
}

header .logo img {
    width: 50px;
    height: 50px;
}

header .logo h1 {
    font-size: 50px;
    font-family: var(--Boldonse);
    font-weight: 500;
}

header .nav h2 {
    font-size: 25px;
    font-family: var(--Inter);
    font-weight: 500;
}

header .nav .settings svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: color, transform  500ms ease;
}

header .nav .settings svg:hover {
    color: #dc3d3d;
    transform: scale(1.1);
}

.main {
    width: 1920px;
}

.chat-layout {
    width: 30%;
    border-right: 1px solid var(--border-color);
}

.chat-sidebar {
    width: 100%;

}

.chat-sidebar__content {
    margin-left: 20px;
}

.chat-search {
    max-width: 100%;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--border-color);

}

.chat-search span{
    position: absolute;
    top: 40px;
    left: 15px;
    font-size: 20px;
    z-index: 2;
    color: #858585;
}

.chat-search__input{
        position: relative;
        margin: 20px 0;
        border: 1px solid var(--border-color);
        background-color: #efeded;
        padding: 20px 20px;
        width: 50%;
        border-radius: 15px;

        &::placeholder {
            position: absolute;
            left: 40px;
            font-size: 20px;
            font-weight: 600;
            color: #858585;
        }
}

.chat-list {

}

.chat-list__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.chat-list__avatar {

    font-size: 65px;
}

.chat-list__content {
    width: 100%;
    align-items: center;

}

.chat-list__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    margin: 0 0 7px 0;
}

.chat-list__name {
    font-size: 25px;
}

.chat-list__time {
    margin-right: 10px;
}

.chat-list__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat-list__badge {
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #ff7026;
    color: #fff;
    font-weight: 500;
}